/* Ocultar el triángulo del NavDropdown */
.navbar{
  padding: 10px;
  background: #669cee;
}
.navbar .nav-item .nav-link::after {
    display: none;
  }

.custom-form .form-control{
  padding: 0.05rem; /* Espaciado interno reducido */
  width: 250px;
  font-size: smaller;
  text-align: center;
}
