/* Ocultar el triángulo del NavDropdown */
.navbar{
  padding: 10px;
  background: #66daee;
  font-size: small;
  
}
.navbar .nav-item .nav-link::after {
    display: none;
  }

.custom-form{
  padding-right: 500px;}

.custom-form .form-control{
  padding: 0.05rem;
  width: 250px;
  font-size: smaller;
  text-align: center;
}
